<h3>Consider using your name in the text message so your trainer knows who you are</h3>
<%= form_tag trainer_messages_create_path do %>
  <%= label_tag :message %>
  <%= text_area_tag :message %>
  <%= submit_tag 'Send Message' %>
<% end %>
