<div class="client-heading">
  Enter Your Information
</div>
<br>
<div class="container">
  <div class="col-14 centered">
    <h1>Register as:</h1>
    <%= link_to "Client", new_user_path, class: "btn btn-large btn-primary" %>
    <h3>or</h3>
    <%= link_to "Trainer", new_trainer_path, class: "btn btn-large btn-primary" %>
  </div>
</div>
