<div class="container">
  <div class="row">
    <div class="col centered">
      <%= link_to "Log a Meal", new_meal_logs_path, class: "btn-primary" %>
    </div>
    <br>
      <% if current_client && current_client.trainer && current_client.trainer.phone_num %>
      <div class="col">
        <%= link_to "Send Trainer Message", trainer_messages_new_path, class: "btn-primary" %>
      </div>
      <br>
      <% end %>
    <div class="col">
      <%= link_to "Log Weight", weight_logs_new_path, class: "btn-primary" %>
    </div>
  </div>
</div>
