<div class="container">
  <div class="col">
  <h1><%= @client.first_name %> <%= @client.last_name %>'s Information</h1>
  Calories, Carbs, Sugar, etc. Stat Graphs here
  <div class="row">
    <%= button_to "Change Client's Meal Plan", class: "btn-primary" %>
  </div>
  <div class="row">
    <%= button_to "Back To Trainer's Client List", trainer_dashboard_path, method: :get, class: "btn-primary" %>
  </div>
  </div>
</div>
