<div class="container">
  <div class="col-14">
    <br>
    <div class="row">
      <p class="about-heading">About Us<p>
    </div>
    <br>
    <div class="row about-text">
      <p>This application is designed to be used as a nutrition tracker and communication tool between personal trainers and their clients.</p>
      <p>It is designed to have separate functionality for clients and trainers, and has the ability to send text and e-mail correspondence.</p>
      <p>This application was built using Rails 5, Bootstrap, PostgreSQL, TravisCI, OAuth and RSpec. The microservice is created using Python 3 and Flask, as well as the Nutritionix and Edamam API's. Communication features are implemented through Twilio and Sendgrid.</p>
      <p>This application was created by:</p>
      <br>
      <div class="row">
        <div class="row">
          <div class="col-6">
            <p><%= link_to "Kyle Cornelissen", "https://github.com/kylecornelissen" %></p>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-6">
            <p><%= link_to "Vince Carollo", "https://github.com/VinceCarollo" %></p>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-6">
            <p><%= link_to "Trevor Nodland", "https://github.com/tnodland" %></p>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-6">
            <p><%= link_to "Christopher Davis", "https://github.com/DavisC0801" %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
