---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/<TWILIO_ACCOUNT_SID>/Messages.json
    body:
      encoding: UTF-8
      string: Body=HELLO+Ansel+Adams%2C+LETS+GET+FIT%21%21%21&From=%2B17205751348&To=%2B15715943614
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUM3ODVkMzIxMGIwMWJkYTAxMzUxODY3NDdmMGY3NDIxYjpmODQ1MjQ0MmUwYjg1ZDczNjYxZmQ0YmQ1ZmEwNTIyYw==
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Id:
      - RQ947cba0871c74dcd946b08ee6c12d1eb
      Twilio-Request-Duration:
      - '0.093'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - api.twilio.com
    body:
      encoding: UTF-8
      string: '{"sid": "SM1c88748d146b4666988129e3e62fa980", "date_created": "Tue,
        23 Jul 2019 00:02:57 +0000", "date_updated": "Tue, 23 Jul 2019 00:02:57 +0000",
        "date_sent": null, "account_sid": "<TWILIO_ACCOUNT_SID>", "to": "+15715943614",
        "from": "<TWILIO_PHONE_NUMBER>", "messaging_service_sid": null, "body": "Sent
        from your Twilio trial account - HELLO Ansel Adams, LETS GET FIT!!!", "status":
        "queued", "num_segments": "1", "num_media": "0", "direction": "outbound-api",
        "api_version": "2010-04-01", "price": null, "price_unit": "USD", "error_code":
        null, "error_message": null, "uri": "/2010-04-01/Accounts/<TWILIO_ACCOUNT_SID>/Messages/SM1c88748d146b4666988129e3e62fa980.json",
        "subresource_uris": {"media": "/2010-04-01/Accounts/<TWILIO_ACCOUNT_SID>/Messages/SM1c88748d146b4666988129e3e62fa980/Media.json"}}'
  recorded_at: Tue, 23 Jul 2019 00:02:57 GMT
recorded_with: VCR 5.0.0
