---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/AC785d3210b01bda0135186747f0f7421b/Messages.json
    body:
      encoding: UTF-8
      string: Body=HI+TRAINER%21&From=%2B17205751348&To=%2B13034351644
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUM3ODVkMzIxMGIwMWJkYTAxMzUxODY3NDdmMGY3NDIxYjpmODQ1MjQ0MmUwYjg1ZDczNjYxZmQ0YmQ1ZmEwNTIyYw==
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Id:
      - RQ730e344e0a304a9fade3703bd20c1a4e
      Twilio-Request-Duration:
      - '0.088'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - api.twilio.com
    body:
      encoding: UTF-8
      string: '{"sid": "SMbc1da3e3694942cbb2b4f32ad6b82522", "date_created": "Sat,
        20 Jul 2019 22:48:00 +0000", "date_updated": "Sat, 20 Jul 2019 22:48:00 +0000",
        "date_sent": null, "account_sid": "AC785d3210b01bda0135186747f0f7421b", "to":
        "+13034351644", "from": "+17205751348", "messaging_service_sid": null, "body":
        "Sent from your Twilio trial account - HI TRAINER!", "status": "queued", "num_segments":
        "1", "num_media": "0", "direction": "outbound-api", "api_version": "2010-04-01",
        "price": null, "price_unit": "USD", "error_code": null, "error_message": null,
        "uri": "/2010-04-01/Accounts/AC785d3210b01bda0135186747f0f7421b/Messages/SMbc1da3e3694942cbb2b4f32ad6b82522.json",
        "subresource_uris": {"media": "/2010-04-01/Accounts/AC785d3210b01bda0135186747f0f7421b/Messages/SMbc1da3e3694942cbb2b4f32ad6b82522/Media.json"}}'
  recorded_at: Sat, 20 Jul 2019 22:48:00 GMT
recorded_with: VCR 5.0.0
