<div class="container">
  <div class="col-14 centered">
    <div class="row">
      <h1>Enter the client's E-mail address</h1>
    </div>
    <br>
    <%= form_tag(trainer_invite_path, method: :post) do %>
    <div class="row">
      <div class="col-3">
        <%= label_tag(:email, "Client Email") %>
      </div>
      <div class="col-3">
        <%= text_field(:email, "Client Email") %>
      </div>
    </div>
    <div class="row">
      <%= submit_tag("Invite", class: "btn-primary") %>
    </div>
  <% end %>
  </div>
</div>
