<div class="container">
  <div class="col-14 centered ml-auto mr-auto">
    <div class="row">
      <h1 class="client-heading">Send an e-mail to your trainer.</h1>
    </div>
    <%= form_tag client_mailers_create_path(client: @trainer) do %>
      <div class="col">
        <%= label_tag :email %>
      </div>
      <div class="col">
        <%= text_area_tag :email %>
      </div>
      <br>
      <%= submit_tag 'Send Email', class: "btn-primary" %>
    <% end %>
  </div>
</div>
