.meal-btn{
  margin-right: auto;
  margin-left: auto;
}

.meal-log-heading{
  font-size: 34pt;
  text-align: center;
  font-weight: bold;
}

.register-heading{
  font-size: 34pt;
  text-align: center;
  font-weight: bold;
}

.meal-log-text{
  text-align: center;
}
