.welcome {
  margin-left: auto;
  margin-right: auto;
}

.btn-xl {
  width: 70%;
  height: 20%;
  margin-top: 10%;
  font-size: 60pt;
  text-align: center;
  background-color: #4ABDAC;
}

#first-welcome{
  margin-top: 60%;
}

.about-heading{
  font-size: 40pt;
  text-align: center;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

.about-text{
  font-size: 30pt;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
