<div class="container">
  <div class="col-14 centered ml-auto mr-auto">
    <div class="row">
      <h1 class="client-heading">Send a message to your client</h1>
    </div>
    <br>
      <%= form_tag trainer_client_messages_create_path(params[:format]) do %>
      <div class="col">
        <%= label_tag :message %>
      </div>
      <div class="col">
        <%= text_area_tag :message %>
      </div>
      <br>
      <%= submit_tag 'Send Message', class: "btn-primary" %>
    <% end %>
  </div>
</div>
